
@media screen and (min-width: 280px) and (max-width: 768px) 
{
.nav-desk{
    display: none;
}
.about-desk{
    display: none;
}
nav{
 background-color: black;
 border: 1px solid red;
 height: 70px;
 width: 700px;
 margin-top: 0px;
 margin-left: 0px;
}
.ham1 p{
    border: 2px solid white;
    width: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
.ham2 p{
    border: 2px solid white;
    width: 20px;
    margin-top: -10px;
    margin-left: 10px;
}
.ham3 p{
    border: 2px solid white;
    width: 20px;
    margin-top: -10px ;
    margin-left: 10px;
}
.hello-main .all{
    background-image: url(./assets/images/salon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 1000px;
    padding-top: 20px; 
}
.all .hello{
    color: white;
    font-size: 25px;
    padding-top: -40px;
    margin-left: 10px;
}
.hello p{
    margin-top: -10px;
}
.tittle p{
    color: pink;
    margin-left: 10px;
    font-size: 30px;
}
.location{
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 210px;
    background-image: linear-gradient(rgba(0, 128, 0, 0.555),rgba(255, 0, 0, 0.459),rgba(255, 255, 0, 0.534));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
    width: 200px;
}
.des{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.199);
    border: 1px solid white;
    color: white;
    margin-top: 30px;
    margin-left: 100px;
    line-height: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.des .p5{
    margin-left: 10px;
    text-wrap: nowrap;
}
.ti{
    display: flex;
    justify-content: center;
    color: red;
}
.p8{
    margin-top: -30px;
}
.promotion{
    background-color: rgba(0, 0, 0, 0.438);
    border: 1px solid rgba(255, 0, 0, 0.39);
    margin-top: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: animate 20s linear infinite;
} 
.promotion p{
    color: red;
}
 .styles{
    background-image: linear-gradient(green,red,yellow,blue,white);
    width: 800px;
    height: 800px;
 }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
.style1 img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 60px;
    margin-left: 20px;
    margin-top: 70px;
}
.style2 img{
    max-width: 70px;
    max-height: 70px;
    border-radius: 70px;
    margin-left: 20px;
    margin-top: 70px;
}
.styles .chose{
    display: flex;
    flex-direction: column;
}
.style1 span{
    color: pink;
    margin-top: 40px;
    margin-left: 40px;
}
.style1 p{
    margin-left: 200px;
    margin-top: -30px;
    color: white;
}
.style1 .stall{
    color:pink;
    margin-left: 20px;
    margin-top: 20px;
}
.style2 p{
    margin-left: 200px;
    margin-top: -30px;
    color: black;
}
.style2 span{
    color: blue;
    margin-left: 20px;
}

.more{
    background-color: white;
}
.hair-styles{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    font-size: 20px;
    margin-left: 200px;
    text-wrap: nowrap;
}
.pp p{
    border: 1px solid red;
    width: 30px;
    margin-top: 25px;
    margin-left: -80px;
}
.one-one img{
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
}
.one-neo img{
    max-width: 70px;
    max-height: 70px;
    margin-left: 10px;
}
.one-ne img{
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
}
.one-oe img{
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
}
.one-o img{
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
}
.one-on img{
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
}
.less .one{
    display: flex;
}
.one-2 p{
    border: 1px solid gray;
    width: 40px;
}
.one .allo{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-wrap: nowrap;
    word-spacing: 8px;
}
.one .one-3{
    color: red;
    font-style: italic;
}
.one .pric {
    margin-left: 70px;
    gap: 30px;
}
.fot{
    background-color: black;
    color: white;
    width: 800px;
}
.part .ners{
    margin-top: 50px;
    margin-left: 150px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pap p{
    border: 1px solid red;
    width: 30px;
    margin-left: 165px;
    margin-top: -2px;
}
.fot .allpat{
    display: flex;
    gap: 20px;
    font-style: oblique;
}
.footer{
    display: flex;
    gap: 90px;
    margin-left: 20px;
    margin-top: 20px;
    color: pink;
    text-wrap: nowrap;
}
.foot img{
    max-width: 70px;
    max-height: 70px;
    border-radius: 60px;
}
.center{
    background-color: rgb(6, 6, 78);
    border: 1px solid blue;
    height: 100px;
}
.facebook img{
    max-width: 15px;
    max-height: 15px;
    border-radius: 60px;
}
.all-3g .center3{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.all-3g .twot{
    display: flex;
    color: white;
}
.twot .leftt{
    margin-left: 90px;
    text-wrap: nowrap;
    border: 1px solid rgba(255, 255, 255, 0.226);
    border-radius: 20px;
    height: 20px;
    justify-content: center;
    padding: 2px;
    font-size: 12px;
}
.twot .glamour{
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 12px;
}
.firstc{
    background-image: url(./assets/images/pink.jpg);
    height: 120px;
    margin-top: -40px;
}
.twoh{
    padding-top: 30px;
}
.twoh .lo{
    border: 2px solid rgba(255, 255, 255, 0.521);
    margin-left: 20px;
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 30px;
    outline: 1px solid rgba(255, 0, 0, 0.486);
    outline-offset: -5px;
    color: white;
    box-shadow: 10px 10px 20px yellow;
}
.hant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin-left: 260px;
    margin-top: -60px;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    height: 30px;
}
.one1 p{
    border: 2px solid white;
    width: 20px;
}
.one2 p{
        border: 2px solid white;
        margin-top: -10px;
        width: 20px;
}
.one3 p{
    border: 2px solid white;
    margin-top: -10px;
    width: 20px;
}
textarea{
    background-color: red;
    width: 300px;
}
input{
    width: 200px;
}
.forme{
    margin-top: 30px;
}
button{
    background-color: red;
    width: 100px;
    height: 40px;
    margin-left: 90px;
}
.blackl{
    background-color: black;
    color: white;
    margin-top: 30px;
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
}
.loo .lloo{
    border: 1px solid red;
    background-color: white;
    width: 70px;
    height: 60px;
    color: black;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p .f{
    color: red;
    margin-bottom: 15px;
}
.im1 img{
    max-width: 120px;
    max-height: 120px;
    border: 4px solid black;
    margin-left: 20px;
    margin-top: 40px;
}
.rone{
    display: flex;
    gap: 20px;
    background-color: blueviolet;
}
.paraaa p{
    border: 1px solid rgba(0, 0, 0, 0.541);
}
.copy{
    color: rgba(0, 0, 0, 0.514);
}
.le{
    display: none;
}
.mo{
    display: none;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
nav{
    background-color: black;
}
.twot .glamour{
    color: red;
}
}
@media screen and (min-width: 1024px){
.nav-desk{
    background-color: black;
    width: 1500px;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
}
.nav-desk .fwha{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 15px;
    gap: 40px;
}
.fa a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: arial;
    color: white;
}
.fa img{
    max-width: 20px;
    max-height: 20px;
    border-radius: 60px;
}
.about-desk{
    background-color: white;
    width: 1500px;
    height: 80px;
    position: fixed;
    margin-top: -110px;
    left: 0px;
}
.all-d{
    display: flex;
    gap: 90px;
    margin-left: 260px;
}
.all-d .gl{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-top: 15px;
}
.all-d .gll{
    display: flex;
    margin-left: 400px;
    gap: 20px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 25px;
}
.gll .mai{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgba(255, 0, 0, 0.539);
    margin-top: -10px;
    height: 30px;
    padding: 3px;
}
.hello-main{
    border: 4px solid red;
    background-image: linear-gradient(gray,gray);
    margin-top: 150px;
    margin-left: -20px;
    width: 1400px;
}
.all .hello{
    color: white;
    font-size: 20px;
    padding-top: 30px;
    margin-left: 50px;
}

.all .tittle{
    color: white;
}
.all .location{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.212);
    border: 1px solid rgba(0, 0, 0, 0.383);
    width: 150px;
    margin-left: 600px;
}
.all .des{
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.221);
    background-color: rgba(0, 0, 0, 0.511);
    width: 1200px;
    height: 400px;
    margin-left: 80px;
    margin-top: 40px;
    font-family: arial;
    line-height: 25px;
    padding: 10px;
}
.all .promotion{
    color: white;
    border: 1px solid red;
    width: 1220px;
    height: 140px;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 30px;
}
.style1 img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 60px;
}
.chose .style1{
    width: 160px;
    margin-left: 70px;
}
.style1 span{
    display: flex;
    color: red;
    margin-top: 20px;
}
.style2 span{
    display: flex;
    margin-top: 20px;
    color: red;
    margin-left: 20px;
    margin-top: 20px;
}
.chose .style2{
    width: 120px;
    margin-left: 60px;
}
.style2 img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 60px;
}
.styles .chose{
    display: flex;
    background-image: url(./assets/images/pink.jpg);
    width: 1400px;
    height: 430px;
    margin-left: -10px;
    padding-top: 60px;
    gap: 60px;
}
.style1 p{
    display: flex;
    margin-top: 50px;
}
.style2 p{
    display: flex;
    margin-top: 50px;
}
.book button{
    background-color: orangered;
    height: 40px;
    width: 150px;
    margin-left: 600px;
    margin-top: -300px;
}
.hair-styles{
    display: flex;
    margin-left: 600px;
    margin-top: 70px;
    font-size: 30px;
}
.pp p{
    border: 1px solid red;
    width: 40px;
    margin-top: 35px;
    margin-left: -110px;
}
.more .less{
    display: flex;
    gap: 40px;
    margin-top: 60px;
    margin-left: 70px;
}
.le .one{
    display: flex;
    margin-left: 110px;
}
.mo .one{
    display: flex;
    margin-left: 160px;
}
.one .pric{
    display: flex;
    margin-left: 40px;
}
.one .one-3{
    color: red;
}
.one-2 p{
    border: 1px solid gray;
    width: 60px;
}
.one .allo{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.one-one img{
    max-width: 130px;
    max-height: 130px;
}
.one-neo img{
    max-width: 150px;
    max-height: 150px;
}
.one-ne img{
    max-width: 130px;
    max-height: 130px;
}
.one-oe img{
    max-width: 130px;
    max-height: 170px;
}
.one-o img{
    max-width: 130px;
    max-height: 130px;
}
.one-on img{
    max-width: 130px;
    max-height: 130px;
}
.fot{
    background-color: black;
    width: 1400px;
    margin-left: -10px;
    height: 230px;
    margin-top: 80px;
    color: white;
}
.fot .part{
    display: flex;
    margin-left: 650px;
    padding-top: 30px;
    font-size: 25px;
}
.pap p{
    border: 1px solid red;
    width: 30px;
    margin-top: 30px;
    margin-left: -50px;
}
.fot .allpat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    font-size: 20px;
    margin-top: 40px;
}
.footer{
    background-color: white;
    display: flex;
    height: 40px;
}
.foot{
    margin-left: 150px;
    margin-top: 20px;
}
.footer .link{
    margin-left: 400px;
    margin-top: 20px;
}
.foot img{
    max-width: 60px;
    max-height: 60px;
    border-radius: 60px;
}
}